@import '../../../sass-utils/container';
@import '../../../sass-utils/mixins';

.card {
  box-sizing: border-box;
  position: relative;

  width: 319px;
  height: 440px;
  scroll-snap-align: start;

  @include mediaQuery($screen-size-s) {
    width: 346px;
    height: 461px;
  }

  @include mediaQuery($screen-size-m) {
    width: 391px;
    height: 454px;
  }

  @include mediaQuery($screen-size-l) {
    width: 456px;
    height: 540px;
  }
}

.img {
  box-sizing: border-box;

  border-radius: 40px;
  border: 2px solid var(--color);

  width: 319px;
  height: 440px;

  @include mediaQuery($screen-size-s) {
    width: 346px;
    height: 461px;
  }

  @include mediaQuery($screen-size-m) {
    width: 391px;
    height: 454px;
  }

  @include mediaQuery($screen-size-l) {
    width: 456px;
    height: 540px;
  }

  @include mediaQuery($screen-size-xl) {
    width: 584px;
    height: 640px;
  }
}

.list {
  @include flexCenter();

  flex-wrap: wrap;

  column-gap: 12px;
  overflow-x: scroll;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-y: hidden;

  @include mediaQuery($screen-size-s) {
    row-gap: 40px;
    column-gap: 16px;
    overflow-x: visible; /* Cancel horizontal scrolling */
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Align items as needed */
    overflow-y: visible; /* Cancel y-axis overflow hiding */
  }

  @include mediaQuery($screen-size-m) {
    column-gap: 12px;
  }

  @include mediaQuery($screen-size-l) {
    row-gap: 32px;
    column-gap: 24px;
  }

  @include mediaQuery($screen-size-xl) {
    row-gap: 40px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.title {
  @include flexCenter();
  text-align: center;
  // margin-bottom перевірений з макетом
  @include font(24px, 2vw, 24px, 700, 30px);
  margin-bottom: 20px;

  @include mediaQuery($screen-size-s) {
    @include font(48px, 2vw, 48px, 700, 58px);
    margin-bottom: 40px;
  }

  @include mediaQuery($screen-size-m) {
    @include font(70px, 2vw, 70px, 700, 85px);
  }

  @include mediaQuery($screen-size-l) {
    @include font(80px, 2vw, 80px, 700, 98px);
    margin-bottom: 48px;
  }

  @include mediaQuery($screen-size-xl) {
    margin-bottom: 50px;
    @include font(112px, 2vw, 112px, 700, 136px);
  }
}

.layer {
  position: absolute;

  background: linear-gradient(90deg, #141416 0%, #124713 100%);
  width: 100%;

  height: 100%;
  top: 0;

  border-radius: 40px;
  border: 2px solid var(--color);

  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s ease-in-out;

  @include mediaQuery($screen-size-s) {
    height: calc(100% - 48px);
    top: 48px;
  }

  @include mediaQuery($screen-size-m) {
    height: calc(100% - 75px);
    top: 75px;
  }

  @include mediaQuery($screen-size-l) {
    height: calc(100% - 55px);
    top: 55px;
  }

  @include mediaQuery($screen-size-xl) {
    top: 78px;
    height: calc(100% - 78px);
  }

  .card:hover & {
    transform: scaleY(1);
  }

  &__info {
    padding: 45px 20px 0px 20px;

    @include mediaQuery($screen-size-s) {
      padding: 24px 24px 0px 24px;
    }

    @include mediaQuery($screen-size-m) {
      padding: 20px 20px 0px 20px;
    }

    @include mediaQuery($screen-size-l) {
      padding: 20px 32px 0px 32px;
    }

    @include mediaQuery($screen-size-xl) {
      padding: 20px 40px 0px 40px;
    }
  }

  &__title {
    text-align: left;
    @include flexCenter();

    // margin-bottom checked with figma

    @include font(20px, 2vw, 20px, 500, 24px);
    margin-bottom: 12px;

    box-sizing: border-box;

    @include mediaQuery($screen-size-s) {
      @include font(24px, 2vw, 24px, 500, 30px);
      margin-bottom: 18px;
    }

    @include mediaQuery($screen-size-m) {
      @include font(24px, 2vw, 24px, 500, 30px);
    }

    @include mediaQuery($screen-size-l) {
      @include font(32px, 2vw, 32px, 500, 39px);
      margin-bottom: 16px;
    }

    @include mediaQuery($screen-size-xl) {
      @include font(40px, 2vw, 40px, 400, 49px);
      margin-bottom: 24px;
    }
  }

  &__description {
    @include font(14px, 2vw, 14px, 400, 17px);
    // margin-bottom checked with figma
    margin-bottom: 12px;

    text-align: center;

    @include mediaQuery($screen-size-s) {
      margin-bottom: 18px;
    }

    @include mediaQuery($screen-size-m) {
      @include font(16px, 2vw, 16px, 400, 20px);
    }

    @include mediaQuery($screen-size-l) {
      @include font(20px, 2vw, 20px, 400, 25px);
      margin-bottom: 16px;
    }

    @include mediaQuery($screen-size-xl) {
      @include font(24px, 2vw, 24px, 400, 30px);
      margin-bottom: 24px;
    }
  }

  &__text {
    @include font(12px, 2vw, 12px, 400, 13px);

    text-align: left;

    @include mediaQuery($screen-size-l) {
      @include font(15px, 2vw, 15px, 400, 17px);
    }

    @include mediaQuery($screen-size-xl) {
      @include font(18px, 2vw, 18px, 400, 21px);
    }
  }

  &__button {
    width: calc(100% - 40px);
    left: 20px;
    gap: 12px;
    @include flexCenter();
    border: 1px solid var(--color);
    border-radius: 40px;

    position: absolute;

    height: 48px;
    @include font(16px, 2vw, 16px, 600, 21px);
    bottom: 33px;

    @include mediaQuery($screen-size-s) {
      height: 40px;
      @include font(18px, 2vw, 18px, 600, 21px);
    }

    @include mediaQuery($screen-size-m) {
      height: 44px;
      bottom: 12px;
      @include font(20px, 2vw, 20px, 600, 23px);
    }

    @include mediaQuery($screen-size-l) {
      @include font(24px, 2vw, 24px, 600, 28px);
      height: 48px;
    }

    @include mediaQuery($screen-size-xl) {
      height: 55px;
      bottom: 20px;
    }
  }

  &__buttonText {
    text-transform: uppercase;
  }
}
