@import '@/sass-utils/container';
@import '@/sass-utils/mixins';

// RegisterFormik.tsx
.form__box__checkbox {
  position: relative;

  .checkboxLabel {
    margin-left: 8px;
    @include font(16px, 2vw, 16px, 400, 16px);
  }
  .checkbox {
    appearance: none;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border: var(--border);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    &:focus {
      outline: none;
    }

    &:checked + .chip__checkbox {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 0;
      left: 4px;
    }
  }

  .chip__checkbox {
    display: none;
  }
}

.checkbox__wraper {
  position: relative;
}

.form__box__checkbox__field {
  @include flex();
}

.text__chip__checkbox {
  color: #0033ff;
}
.invalid__checkbox__message {
  padding-top: 12px;
  color: #b3261e;
  @include font(14px, 2vw, 20px, 400, 19px);
}
