@import '../../sass-utils/container';
@import '../../sass-utils/mixins';
@import '../ErrorPage505/ErrorPage505.module.scss';

.img__404 {
  margin-bottom: 14px;
  width: 343px;
  height: 250px;
  // значення 767!!!

  @include mediaQuery($screen-max-size-s) {
    width: 496px;
    height: 343px;
    margin-bottom: 16px;
  }

  @include mediaQuery($screen-size-m) {
    width: 437px;
    height: 343px;
    margin-bottom: 18px;
  }

  @include mediaQuery($screen-size-l) {
    width: 620px;
    height: 476px;
    margin-bottom: 18px;
  }

  @include mediaQuery($screen-size-xl) {
    width: 828px;
    height: 643px;
  }
}

.details {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 12px;

  // значення 767!!!
  @include mediaQuery($screen-max-size-s) {
    font-size: 16px;
  }

  @include mediaQuery($screen-size-m) {
    font-size: 16px;
  }

  @include mediaQuery($screen-size-l) {
    font-size: 20px;
  }

  @include mediaQuery($screen-size-xl) {
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
