@import '@/sass/utils/container';
@import '@/sass/utils/mixins';

.text {
  padding-top: 30px;

  @include font(14px, 2vw, 18px, 400, 20px);
  margin: 0 auto;

  max-width: 400px;

  @include mediaQuery($screen-size-m) {
    max-width: 530px;
  }

  @include mediaQuery($screen-size-xl) {
    max-width: 584px;
  }
}
