@import '../../sass-utils/container';
@import '../../sass-utils/mixins';

.content__block {
  width: 343px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;

  // значення 767!!!
  @include mediaQuery($screen-max-size-s) {
    width: 708px;
  }

  @include mediaQuery($screen-size-m) {
    width: 594px;
  }

  @include mediaQuery($screen-size-l) {
    width: 721px;
  }

  @include mediaQuery($screen-size-xl) {
    width: 828px;
  }
}

.img__505,
.img__404 {
  width: 343px;
  height: 280px;
  margin-bottom: 24px;

  // значення 767!!!
  @include mediaQuery($screen-max-size-s) {
    width: 496px;
    height: 405px;
  }

  @include mediaQuery($screen-size-m) {
    width: 435px;
    height: 355px;
  }

  @include mediaQuery($screen-size-l) {
    width: 576px;
    height: 470px;
  }

  @include mediaQuery($screen-size-xl) {
    width: 828px;
    height: 676px;
  }
}

.title {
  color: #228b22;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;

  // значення 767!!!
  @include mediaQuery($screen-max-size-s) {
    font-size: 18px;
  }

  @include mediaQuery($screen-size-m) {
    font-size: 20px;
    margin-bottom: 12px;
  }

  @include mediaQuery($screen-size-l) {
    font-size: 24px;
    margin-bottom: 18px;
  }

  @include mediaQuery($screen-size-xl) {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

.details {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 16px;

  // значення 767!!!
  @include mediaQuery($screen-max-size-s) {
    font-size: 16px;
    margin-bottom: 16px;
  }

  @include mediaQuery($screen-size-m) {
    font-size: 16px;
    margin-bottom: 18px;
  }

  @include mediaQuery($screen-size-l) {
    font-size: 18px;
    margin-bottom: 18px;
  }

  @include mediaQuery($screen-size-xl) {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.button {
  width: 250px;
  display: flex;
  height: 36px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 0.2px solid #228b22;
  background: #228b22;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid white;
}
