@import '../../sass-utils/container';
@import '../../sass-utils/mixins';

.header {
  background: transparent;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--green);
  border-left: 1px solid var(--green);
  border-right: 1px solid var(--green);
  border-radius: 0 0 30px 30px;
  padding: 4px 25px;
  width: 100%;
  height: 42px;

  @include mediaQuery($screen-size-s) {
    height: 48px;
  }
  @include mediaQuery($screen-size-m) {
    height: 56px;
    border-radius: 0 0 40px 40px;
    padding: 6px 50px;
  }
}

.logo__link {
  display: inline-flex;
}

.text__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
}
.text__link__chip {
  width: 100%;
  width: 172px;
  height: 17px;
  fill: var(--green);
  filter: drop-shadow(0px -0px 0px var(--dark-green));
  @include mediaQuery($screen-size-s) {
    filter: drop-shadow(2px -1px 0px var(--dark-green));
    width: 202px;
    height: 23px;
  }
  @include mediaQuery($screen-size-m) {
    width: 278px;
    height: 31px;
  }
  @include mediaQuery($screen-size-xl) {
    height: 33px;
  }
}
.nav {
  display: flex;
  gap: 16px;

  @include mediaQuery($screen-size-m) {
    display: flex;
    max-width: 100%;
    justify-content: right;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  border-bottom: 2px solid var(--green);
  border-left: 1px solid var(--green);
  border-right: 1px solid var(--green);
  border-top: 0.5px solid var(--green);
  border-radius: 30px;
  padding: 5px 10px;
  height: 33px;
  background: var(--color-fon);
  @include font(16px, 2vw, 16px, 400, 18px);
  white-space: nowrap;
  @include mediaMaxQuery($screen-max-size-m) {
    display: none;
    &.open {
      display: flex;
      justify-content: center;
      max-width: 100%;
    }
  }
  @include mediaQuery($screen-size-xl) {
    min-width: 238px;
  }
}

.btn__exit {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 5px 5px 0;
}
.exit__chip {
  width: 30px;
  height: 25px;
  fill: #33cc00;
}

.menu_burger {
  @include flexCenter();

  position: fixed;
  top: 48px;
  left: -100%;
  height: 100%;
  width: 100vw;
  background: var(--background-color);
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 30px;
  transition: left 600ms ease;

  @include mediaQuery($screen-size-m) {
    display: none;
  }

  &.open {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow: auto;
    background-color: var(--background-color);
    padding-top: 30px;
    transform: translateX(0);

    @include mediaQuery($screen-size-m) {
      display: none;
    }
  }
}

.nav_burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & > li {
    padding: 10px 0;
  }
}
