@import '../../../sass-utils/container';
@import '../../../sass-utils/mixins';
@import '../../../sass-utils/variables';

.faq {
  display: flex;
  flex-direction: column;

  &__question {
    @include flexCenter();

    @include font(16px, 2vw, 16px, 400, 18px);
    letter-spacing: 0.1vh;
    padding-right: 4px;
    margin-top: 24px;

    @include mediaQuery($screen-size-xs) {
      margin-top: 0;
    }

    @include mediaQuery($screen-size-s) {
      @include font(16px, 2vw, 16px, 400, 24px);
    }

    @include mediaQuery($screen-size-m) {
      @include font(18px, 2vw, 18px, 400, 30px);
    }
  }

  &__answer {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: transform var(--transition-time) ease-in-out,
      opacity var(--transition-time) ease-in-out, max-height 0.4s ease-out;

    &.active {
      transform: scaleY(1);
      opacity: 1;
      max-height: 500px;
      margin-top: 24px;

      @include mediaQuery($screen-size-s) {
        margin-top: 12px;
      }
    }

    color: var(--text-color-valid);
    @include font(14px, 2vw, 14px, 400, 18px);
    padding-right: 20px;

    @include mediaQuery($screen-size-s) {
      @include font(14px, 2vw, 14px, 400, 24px);
      padding-right: 25px;
    }

    @include mediaQuery($screen-size-m) {
      @include font(16px, 2vw, 16px, 400, 27px);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }

  &__title {
    text-align: center;
  }

  &__title {
    @include font(27px, 2vw, 27px, 700, 27px);
    line-height: 110%;
    @include flexCenter;

    @include mediaQuery($screen-size-s) {
      @include font(40px, 2vw, 40px, 700, 40px);
      line-height: 110%;
    }

    @include mediaQuery($screen-size-m) {
      @include font(48px, 2vw, 48px, 600, 48px);
    }
  }
}

.faqs {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 3.55%,
    rgba(34, 139, 34, 0.2) 122.16%
  );
  box-sizing: border-box;
  border: 1px solid var(--color);
  padding: 32px 16px 24px;
  margin: 40px 16px 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  @include mediaQuery($screen-size-xs) {
    margin: 40px 0 0;
  }

  @include mediaQuery($screen-size-s) {
    border-radius: 20px;
    padding: 24px 24px;
  }

  @include mediaQuery($screen-size-m) {
    border-radius: 24px;
    padding: 50px 24px;
  }
}

.container__faqs {
  display: flex;
  flex-direction: column;
  // gap: 32px;
  margin-bottom: 40px;

  @include mediaQuery($screen-size-xs) {
    gap: 24px;
    margin-bottom: 12px;
  }

  @include mediaQuery($screen-size-s) {
    gap: 12px;
  }

  @include mediaQuery($screen-size-m) {
    gap: 24px;
    margin-bottom: 24px;
  }
}

.toggleIcon {
  @include font(20px, 2vw, 20px, 600, 22px);
  color: var(--text-color-valid);
  padding-top: 22px;

  @include mediaQuery($screen-size-xs) {
    padding-top: 0;
  }

  @include mediaQuery($screen-size-s) {
    @include font(40px, 2vw, 40px, 600, 42px);
  }
}

.toggleIconActive {
  @include font(20px, 2vw, 20px, 600, 22px);
  color: var(--color);
  transform: scaleX(1.5); /* Растягивает символ минус в 2 раза по ширине */

  @include mediaQuery($screen-size-s) {
    @include font(40px, 2vw, 40px, 600, 42px);
  }
}

.link {
  border: 1px solid var(--border-color);
  width: 32px;
  height: 32px;
  border-radius: 40px;
  gap: 8px;
  @include font(20px, 2vw, 20px, 300, 24px);
  @include flexCenter();
  @include hover(transform, scale(1.05));

  @include mediaQuery($screen-size-s) {
    @include font(16px, 2vw, 16px, 300, 20px);
    border-radius: 12px;
    padding: 5px 10px;
    width: 188px;
    height: 35px;
  }

  @include mediaQuery($screen-size-m) {
    @include font(18px, 2vw, 18px, 300, 22px);
    padding: 12px 0px;
    width: 190px;
    height: 49px;
  }

  &__text {
    display: none;
    @include mediaQuery($screen-size-s) {
      display: inline-flex;
    }
  }
}

.container__link {
  @include flexCenter;
}
