@import '../../../sass-utils/container';
@import '../../../sass-utils/mixins';
@import '../../../sass-utils/variables';

.faq {
  display: flex;
  flex-direction: column;

  &__question {
    @include flexCenter();
    @include font(18px, 2vw, 18px, 400, 36px);

    @include mediaMaxQuery($screen-size-l) {
      @include font(18px, 2vw, 18px, 400, 30px);
    }

    @include mediaMaxQuery($screen-size-m) {
      @include font(18px, 2vw, 18px, 400, 30px);
    }

    @include mediaMaxQuery($screen-size-s) {
      @include font(16px, 2vw, 16px, 400, 24px);
    }

    @include mediaMaxQuery($screen-size-xs) {
      @include font(16px, 2vw, 16px, 400, 18px);
      letter-spacing: 0.1vh;
    }
  }

  &__answer {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: transform var(--transition-time) ease-in-out,
      opacity var(--transition-time) ease-in-out, max-height 0.4s ease-out;

    &.active {
      transform: scaleY(1);
      opacity: 1;
      max-height: 500px;
      margin-top: 32px;

      @include mediaMaxQuery($screen-size-l) {
        margin-top: 24px;
      }

      @include mediaMaxQuery($screen-size-s) {
        margin-top: 12px;
      }

      @include mediaMaxQuery($screen-size-xs) {
        margin-top: 24px;
      }
    }

    @include font(16px, 2vw, 16px, 400, 30px);
    color: var(--text-color-valid);

    @include mediaMaxQuery($screen-size-l) {
      @include font(16px, 2vw, 16px, 400, 30px);
    }

    @include mediaMaxQuery($screen-size-m) {
      @include font(16px, 2vw, 16px, 400, 27px);
    }

    @include mediaMaxQuery($screen-size-s) {
      @include font(14px, 2vw, 14px, 400, 24px);
      padding-right: 25px;
    }

    @include mediaMaxQuery($screen-size-xs) {
      @include font(14px, 2vw, 14px, 400, 18px);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }

  &__title {
    text-align: center;
  }

  &__title {
    @include font(48px, 2vw, 48px, 600, 48px);

    @include mediaMaxQuery($screen-size-l) {
      @include font(48px, 2vw, 48px, 600, 48px);
    }

    @include mediaMaxQuery($screen-size-m) {
      @include font(48px, 2vw, 48px, 600, 48px);
    }
    @include mediaMaxQuery($screen-size-s) {
      @include font(40px, 2vw, 40px, 700, 40px);
      line-height: 110%;
    }
    @include mediaMaxQuery($screen-size-xs) {
      @include font(27px, 2vw, 27px, 700, 27px);
      line-height: 110%;
      @include flexCenter;
    }
  }
}

.faqs {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 3.55%,
    rgba(34, 139, 34, 0.2) 122.16%
  );
  border: 2px solid var(--color);
  box-sizing: border-box;
  border-radius: 40px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;

  @include mediaMaxQuery($screen-size-l) {
    border: 1px solid var(--color);
    border-radius: 32px;
    padding: 40px 24px;
  }

  @include mediaMaxQuery($screen-size-m) {
    border-radius: 24px;
    padding: 50px 24px;
  }

  @include mediaMaxQuery($screen-size-s) {
    border-radius: 20px;
    padding: 24px 24px;
  }

  @include mediaMaxQuery($screen-size-xs) {
    border-radius: 12px;
    padding: 32px 24px 24px;
  }
}

.container__faqs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;

  @include mediaMaxQuery($screen-size-l) {
    gap: 24px;
    margin-bottom: 24px;
  }

  @include mediaMaxQuery($screen-size-s) {
    gap: 12px;
  }

  @include mediaMaxQuery($screen-size-xs) {
    gap: 24px;
    margin-bottom: 12px;
  }
}

.toggleIcon {
  @include font(40px, 2vw, 40px, 600, 44px);
  color: var(--text-color-valid);

  @include mediaMaxQuery($screen-size-xs) {
    @include font(20px, 2vw, 20px, 600, 22px);
  }
}

.toggleIconActive {
  @include font(40px, 2vw, 40px, 600, 44px);
  color: var(--color);
  transform: scaleX(1.5); /* Растягивает символ минус в 2 раза по ширине */

  @include mediaMaxQuery($screen-size-xs) {
    @include font(20px, 2vw, 20px, 600, 22px);
  }
}

.link {
  border: 1px solid var(--border-color);
  width: 242px;
  height: 49px;
  border-radius: 12px;
  gap: 8px;
  @include font(20px, 2vw, 20px, 300, 24px);
  @include flexCenter();
  @include hover(transform, scale(1.05));

  @include mediaMaxQuery($screen-size-m) {
    @include font(18px, 2vw, 18px, 300, 22px);
    width: 225px;
  }

  @include mediaMaxQuery($screen-size-s) {
    @include font(16px, 2vw, 16px, 300, 20px);
    width: 188px;
    height: 33px;
  }
  @include mediaMaxQuery($screen-size-xs) {
    width: 32px;
    height: 32px;
    border-radius: 40px;
  }

  &__text {
    @include mediaMaxQuery($screen-size-xs) {
      display: none;
    }
  }
}

.container__link {
  @include flexCenter;
}
