@import '@/sass/utils/container';
@import '@/sass/utils/mixins';

.form__box {
  position: relative;
}

.label {
  position: absolute;
  color: var(--color);
  top: -11px;
  left: 11px;
  background: var(--background-color);
  padding: 0 18px 0 12px;
  border-bottom-left-radius: 10px;
  @include font(14px, 2vw, 18px, 400, 18px);
  &.invalid {
    color: var(--invalid);
  }
}
.input {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 12px 40px 12px 16px;
  outline: none;
  background-color: transparent;
  @include font(16px, 2vw, 20px, 400, 20px);
  color: var(--text-color);

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  &[data-autocompleted] {
    background-color: transparent !important;
  }

  &.valid {
    border-color: #33cc00;
  }

  &.invalid {
    padding-right: 96px;
    color: var(--text-color);
    border-color: var(--invalid);
  }
  &:hover {
    border-color: #33cc00;
  }
}

.chip__eye {
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  fill: var(--text-color);
}
.warning + .chip__eye {
  right: 49px;
}

.warning {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--invalid);
  @include flexCenter();
  color: var(--text-color-dark);
}

// ??
.chip__checkbox__valid {
  position: absolute;
  top: 17px;
  right: 10px;
  @include flexCenter();
  border: var(--border);
  border-radius: 50%;
  width: 21px;
  height: 21px;
}
