@import '@/sass-utils/container';
@import '@/sass-utils/mixins';

// не можу знайти, де застосований цей класв
.chip__checkbox__valid {
  position: absolute;
  top: 17px;
  right: 10px;
  @include flexCenter();
  border: var(--border);
  border-radius: 50%;
  width: 21px;
  height: 21px;
}
