@import '../../sass-utils/container';
@import '../../sass-utils/mixins';

.footer {
  border-left: 1px solid var(--green);
  border-right: 1px solid var(--green);
  border-top: 1px solid var(--green);
  border-radius: 30px 30px 0 0;
  padding: 4px 25px 12px 25px;
  height: 157px;
  @include mediaQuery($screen-size-s) {
    padding: 4px 50px 12px 50px;
    height: 106px;
    display: flex;
    flex-direction: row;
    @include flexSpaceBetween();
    gap: 59px;
  }
  @include mediaQuery($screen-size-m) {
    border-radius: 40px 40px 0 0;
    height: 60px;
    gap: 61px;
  }
}

.footer_nav {
  flex-direction: row-reverse;
  @include flexSpaceBetween();

  & nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 11px;
    font-size: 12px;
    font-weight: 400;

    & a {
      text-align: center;
      padding: 4px;
      border-radius: 20px;
      transition: background-color 0.25s ease;
      transition: color var(--transition-time) ease;

      &:hover,
      &:focus {
        background-color: var(--hover-text-color);
        color: var(--black);
      }
    }
  }
  @include mediaQuery($screen-size-s) {
    gap: 59px;
  }
  .classNav {
    @include mediaQuery($screen-size-s) {
      min-width: 253px;
    }
  }
  @include mediaQuery($screen-size-m) {
    display: none;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 0 14px;
  @include mediaQuery($screen-size-s) {
    padding: 0 34px;
    gap: 9px;
  }
}

.contact_title {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  @include mediaQuery($screen-size-m) {
    font-size: 16px;
  }
}

.footerIcons {
  display: flex;
  flex-direction: row-reverse;
  fill: white;
  gap: 8px;
  padding-top: 10px;

  @include mediaQuery($screen-size-s) {
    padding-top: 0;
    gap: 16px;
  }
  a {
    display: inline-flex;
  }

  a svg {
    fill: white;
    transition: fill var(--transition-time) ease;
  }

  a:hover svg,
  a:focus svg {
    fill: var(--btn-bg-confirm);
  }

  & p {
    display: none;
  }
}

.footerIconsMoreM {
  display: none;
  @include mediaQuery($screen-size-m) {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 16px;
  }
  a {
    display: inline-flex;
  }

  a svg {
    fill: white;
    transition: fill var(--transition-time) ease;
  }

  a:hover svg,
  a:focus svg {
    fill: var(--btn-bg-confirm);
  }
}

.copywriteMoreM {
  display: none;
  @include mediaQuery($screen-size-m) {
    display: flex;
  }
}

.classNavMoreM {
  display: none;
  @include mediaQuery($screen-size-m) {
    display: flex;
    & nav {
      display: flex;
      gap: 61px;
      & a {
        text-align: center;
        padding: 4px;
        border-radius: 20px;
        transition: background-color 0.25s ease;
        transition: color var(--transition-time) ease;

        &:hover,
        &:focus {
          background-color: var(--hover-text-color);
          color: var(--black);
        }
      }
    }
  }
  @include mediaQuery($screen-size-l) {
    & nav {
      gap: 86px;
    }
  }
  @include mediaQuery($screen-size-xl) {
    & nav {
      gap: 152px;
    }
  }
}

.footer_logo {
  @include flexSpaceBetween();
  margin-bottom: 16px;
  @include mediaQuery($screen-size-s) {
    align-self: flex-start;
    margin-bottom: 0px;
  }
  & a {
    display: inline-flex;
  }
}

.copywrite {
  font-size: 12px;
  text-align: end;
  margin-left: auto;
}
